[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[[source]]
name = "gitlab"
url = "https://${GITLAB_USER}:${GITLAB_PASSWORD}@gitlab.com/api/v4/groups/100674858/-/packages/pypi/simple"
verify_ssl = true

[requires]
python_version = "3.12"

[packages]
mu-pipelines-interfaces = ">=0.1.4"
deprecation = ">=2.0.6"

[dev-packages]
flit = "*"
black = "==22.3.0"
flake8 = "*"
isort = "*"
mu-pipelines-configuration-provider = ">=0.1.0"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
pyspark = "==3.5.4"
